# dvc files
/.dvc/config.local
/.dvc/tmp
/.dvc/cache

# pytest files
.pytest_cache
/test/__pycache__

# outputs from cTI
/src/fmrib/NeuroPM/io

# terraform staging files
/src/aws/terraform/terraform.exe
/src/aws/terraform/.terraform
/src/aws/terraform/.terraform.lock.hcl
/src/aws/terraform/.terraform.tfstate.lock.info

# machine learning files
/src/aws/tf_serving/saved_models
/src/ml_lifecycle/mlflow/mlruns
/src/ml_lifecycle/mlflow/mlruns_staging

# visualization files
/src/visualization_dashboards/r_shiny/rsconnect/
